name: CMake

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Debug
  CARGO_TERM_COLOR: always

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally well on Windows or Mac.
    # You can convert this to a matrix build if you need cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-latest

    steps:  
    - name: Checkout repository of Backseat-Safe-System-2k emulator
      uses: actions/checkout@v2.4.2
      with:
        # Repository name with owner. For example, actions/checkout
        repository: Backseating-Committee-2k/BackseatSafeSystem2k

    - name: Install dependencies
      run: DEBIAN_FRONTEND=noninteractive sudo apt-get install xorg-dev libglu1-mesa-dev
      
    - name: Generate opcodes
      run: cargo run -- json > ../opcodes.json
      
    - name: Change back to root dir
      run: cd ..
      
    - uses: actions/checkout@v3
    
    - name: Run Python scripts
      run: |
        python3 ./tools/opcodes2c.py ../opcodes.json ./opcodes.c
        python3 ./tools/json2constants.py ../opcodes.json ./constants.c

    - name: Configure CMake
      # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
      # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Build
      # Build your program with the given configuration
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

#    - name: Test
#      working-directory: ${{github.workspace}}/build
#      # Execute tests defined by the CMake configuration.  
#      # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
#      run: ctest -C ${{env.BUILD_TYPE}}
      
